In [1]:
import os
import pandas as pd

In [3]:
school_path = os.path.join("Resources", "schools_complete.csv")
students_path = os.path.join("Resources", "students_complete.csv")

In [4]:
school_df = pd.read_csv(school_path)
students_df = pd.read_csv(students_path)

In [6]:
df = pd.merge(students_df, school_df, left_on="school_name", right_on="school_name")

In [7]:
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [9]:
### District Summary

# Create a high level snapshot (in table form) of the district's key metrics, including:
  # Total Schools
  # Total Students
  # Total Budget
  # Average Math Score
  # Average Reading Score
  # % Passing Math
  # % Passing Reading
  # Overall Passing Rate (Average of the above two)

In [30]:
df["Student ID"].value_counts()

2047     1
27975    1
9550     1
15693    1
13644    1
        ..
21151    1
23198    1
17053    1
19100    1
0        1
Name: Student ID, Length: 39170, dtype: int64

School ID          273335
Student ID      767124865
budget        82932329558
dtype: int64